push constant 5
call Pell.pell 1 // returna 29




function Pell.pell 3
push argument 0
push constant 0
eq
if-goto ZERO

push argument 0
push constant 1
eq
if-goto ONE

push constant 2
pop local 0

push constant 0
pop local 1

push constant 1
pop local 2

label LOOP_START
push local 0
push argument 0
gt
if-goto LOOP_END

push local 1
push local 2
push local 2
add
add
push local 2
pop local 1
pop local 2

push local 0
push constant 1
add
pop local 0

goto LOOP_START
label LOOP_END
push local 2
return

label ZERO
push constant 0
return

label ONE
push constant 1
return